*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: hsl(200, 50%, 12%);
}
.head {
  background-color: hsl(35, 74%, 29%);
  height: 340px;
  width: 300px;
  border-radius: 70% 70% 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* positioning the eyes  */
.eyes {
  position: absolute;
  width: 215px;
  display: flex;
  justify-content: space-between;
}
/* styles the individual eye */
.eye {
  background-color: white;
  height: 40px;
  width: 65px;
  margin: 10px;
  border-radius: 100%;
  border-top: 3px solid hsl(35, 98%, 20%);
  border-bottom: 2px solid hsl(35, 96%, 18%);
}
